<!DOCTYPE html>
<html>
<head>
    <title>Eco-Tech Building Solutions</title>
    {{ content_for_header }}
</head>
<body>
	<p>Pulling data from the Shopify API...</p>
	{% section 'header' %}
	{% section 'main' %}
	{% section 'footer' %}
	{{ content_for_layout }}
</body>
</html>